<p-table
  #dt1
  styleClass="p-datatable-sm p-datatable-striped"
  [value]="sgcmData"
  dataKey="scaumot"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Visualitzant {first} a {last} d'un total de {totalRecords} entrades"
  sortMode="multiple"
  [loading]="loading"
  [globalFilterFields]="['garantia', 'causa', 'motivo']"
>
  <!-- 
    [scrollable]="true"
    scrollHeight="400px"
    scrollWidth="300px" 
-->

  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <p-multiSelect
        [options]="hidden_columnas"
        [(ngModel)]="selectedColumns"
        optionLabel="columna"
        [style]="{ maxWidth: '40px' }"
        [displaySelectedLabel]="false"
        optionDisabled="inactive"
      ></p-multiSelect>

      <p>Parametrizacion de causas y motivos</p>
      <span class="p-input-icon-left p-ml-auto">
        <i class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          [(ngModel)]="busquedaGlobal"
          [placeholder]="busquedaGlobal ? busquedaGlobal : 'Terme a buscar'"
          [value]="busquedaGlobal"
          (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
        />
      </span>
      <button
        pButton
        label="Reiniciar"
        class="p-button-outlined"
        icon="pi pi-filter-slash"
        (click)="clear(dt1)"
      ></button>
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th colspan="1" [hidden]="hidden_columnas[0].ocultar"></th>
      <th colspan="2" [hidden]="hidden_columnas[1].ocultar">Garantía</th>
      <th colspan="2" [hidden]="hidden_columnas[2].ocultar">Causa</th>
      <th colspan="2" [hidden]="hidden_columnas[3].ocultar">Motivo</th>
      <th colspan="2" [hidden]="hidden_columnas[4].ocultar">Formula</th>
    </tr>

    <tr>
      <th pSortableColumn="scaumot" [hidden]="hidden_columnas[0].ocultar">
        scaumot
        <p-sortIcon field="scaumot"></p-sortIcon>
      </th>
      <th pSortableColumn="cod_garantia" [hidden]="hidden_columnas[1].ocultar">
        Código <p-sortIcon field="cod_garantia"></p-sortIcon>
      </th>
      <th pSortableColumn="garantia" [hidden]="hidden_columnas[1].ocultar">
        Descripción
        <p-sortIcon field="garantia"></p-sortIcon>
      </th>
      <th pSortableColumn="cod_causa" [hidden]="hidden_columnas[2].ocultar">
        Código <p-sortIcon field="cod_causa"></p-sortIcon>
      </th>
      <th pSortableColumn="causa" [hidden]="hidden_columnas[2].ocultar">
        Descripción <p-sortIcon field="causa"></p-sortIcon>
      </th>
      <th pSortableColumn="cod_motivo" [hidden]="hidden_columnas[3].ocultar">
        Código <p-sortIcon field="cod_motivo"></p-sortIcon>
      </th>
      <th pSortableColumn="motivo" [hidden]="hidden_columnas[3].ocultar">
        Descripción <p-sortIcon field="motivo"></p-sortIcon>
      </th>
      <th [hidden]="hidden_columnas[4].ocultar">Código</th>
      <th [hidden]="hidden_columnas[4].ocultar">Descripción</th>
    </tr>

    <tr>
      <th [hidden]="hidden_columnas[0].ocultar">
        <p-columnFilter
          type="text"
          field="scaumot"
          matchMode="contains"
        ></p-columnFilter>
      </th>
      <th [hidden]="hidden_columnas[1].ocultar">
        <p-columnFilter type="numeric" field="cod_garantia"></p-columnFilter>
      </th>
      <th [hidden]="hidden_columnas[1].ocultar">
        <p-columnFilter field="cod_garantia" matchMode="in" [showMenu]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect
              [ngModel]="value"
              [options]="garantiasUnicas"
              placeholder="Qualsevol"
              (onChange)="filter($event.value)"
              optionLabel="tvalor"
              optionValue="cvalor"
              [maxSelectedLabels]="2"
              [selectedItemsLabel]="'{0} items selected'"
              [resetFilterOnHide]="true"
            >
            </p-multiSelect>
          </ng-template>
        </p-columnFilter>
      </th>
      <th [hidden]="hidden_columnas[2].ocultar">
        <p-columnFilter field="cod_causa" matchMode="in" [showMenu]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect
              [ngModel]="value"
              [options]="causasUnicas"
              placeholder="Qualsevol"
              (onChange)="filter($event.value)"
              optionLabel="cvalor"
              optionValue="cvalor"
              [maxSelectedLabels]="4"
              [selectedItemsLabel]="'{0} items selected'"
              [resetFilterOnHide]="true"
            >
            </p-multiSelect>
          </ng-template>
        </p-columnFilter>
      </th>
      <th [hidden]="hidden_columnas[2].ocultar">
        <p-columnFilter field="motivo" matchMode="in" [showMenu]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect
              [ngModel]="value"
              [options]="motivosUnicos"
              placeholder="Qualsevol"
              (onChange)="filter($event.value)"
              optionLabel="tvalor"
              optionValue="cvalor"
              [maxSelectedLabels]="2"
              [selectedItemsLabel]="'{0} items selected'"
              [resetFilterOnHide]="true"
            >
            </p-multiSelect>
          </ng-template>
        </p-columnFilter>
      </th>
      <th [hidden]="hidden_columnas[3].ocultar">
        <p-columnFilter
          type="numeric"
          field="cod_motivo"
          display="menu"
        ></p-columnFilter>
      </th>
      <th [hidden]="hidden_columnas[4].ocultar">
        <p-columnFilter field="motivo" matchMode="in" [showMenu]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect
              [ngModel]="value"
              [options]="motivosUnicos"
              placeholder="Qualsevol"
              (onChange)="filter($event.value)"
              optionLabel="tvalor"
              optionValue="valor"
              [maxSelectedLabels]="2"
              [selectedItemsLabel]="'{0} items selected'"
              [resetFilterOnHide]="true"
            >
            </p-multiSelect>
          </ng-template>
        </p-columnFilter>
      </th>
      <th [hidden]="hidden_columnas[4].ocultar"></th>
      <th [hidden]="hidden_columnas[4].ocultar"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-sgcmData>
    <tr>
      <td [hidden]="hidden_columnas[0].ocultar">{{ sgcmData.scaumot }}</td>
      <td [hidden]="hidden_columnas[1].ocultar">{{ sgcmData.cod_garantia }}</td>
      <td [hidden]="hidden_columnas[1].ocultar">{{ sgcmData.garantia }}</td>
      <td [hidden]="hidden_columnas[2].ocultar">{{ sgcmData.cod_causa }}</td>
      <td [hidden]="hidden_columnas[2].ocultar">{{ sgcmData.causa }}</td>
      <td [hidden]="hidden_columnas[3].ocultar">{{ sgcmData.cod_motivo }}</td>
      <td [hidden]="hidden_columnas[3].ocultar">{{ sgcmData.motivo }}</td>
      <td [hidden]="hidden_columnas[4].ocultar">{{ sgcmData.cod_formula }}</td>
      <td [hidden]="hidden_columnas[4].ocultar">{{ sgcmData.formula }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5">No s'han trobat registres</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      Total {{ sgcmData ? sgcmData.length : 0 }} parametrizaciones.
    </div>
  </ng-template>
</p-table>
<!-- maxSelectedLabels y selectedItemsLabel no funcionan con display = chip
 -->
<p-multiSelect
  [options]="garantiasUnicas"
  [(ngModel)]="garantiasSeleccionadas"
  optionLabel="tvalor"
  optionValue="cvalor"
  [maxSelectedLabels]="2"
  [selectedItemsLabel]="'{0} items selected'"
  placeholder="Qualsevol"
  [resetFilterOnHide]="true"
></p-multiSelect>
<p>{{ garantiasSeleccionadas }}</p>
